@font-face {
  font-family: 'Family';
  src: url('fonts/family-name.eot');
  src: url('fonts/family-name.eot?#iefix') format('embedded-opentype'),
       url('fonts/family-name.woff') format('woff'),
       url('fonts/family-name.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}